In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp
from scipy import stats
import math
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

**EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean 13.20 (dollars)  and  standard  deviation  2.50 (dollars).  A company in this industry employs 40 workers, paying them an average of 12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)**

# One-sample z-test: One-Tailed dist. n>30, Ho : μ = x
 
H0 = 13.20
H1 < 13.20

In [3]:
n = 40
sigma = 2.50
mu = 13.20
xbar = 12.20

In [7]:
z_test = (xbar - mu) / (sigma / np.sqrt(n))
z_test

-2.5298221281347035

In [18]:
pvalue = stats.norm.cdf(z_test) 
pvalue

0.005706018193000826

In [19]:
α = 0.01   

if pvalue < α :
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

Since p value is less than our chosen significance level we can reject the null hypothesis and conclude that this company can be accused of paying substandard wages.

**EXERCISE 2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?**

α = 0.01
Independent two-sample t-test; Two-Tailed distribution, sigma is not known: T-test, Sample Size:  Arbitrary
H0:  The population means of two groups are not significantly different. 

H0 : mu1 = mu2
H1 : mu1 != mu2

In [3]:

dfsoil = pd.read_csv("C:/Users/yucea/JUPYTER_NOTEBOOK_DIR/DATAs_csv/soil - Sheet1.csv", sep = ",")

In [4]:
dfsoil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [25]:
dfsoil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Soil1   30 non-null     float64
 1   Soil2   35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [5]:
indTest = stats.ttest_ind(dfsoil["Soil1"], dfsoil["Soil2"], nan_policy='omit')
indTest

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.5932287323528147e-06)

In [7]:
α = 0.01     

if indTest.pvalue < α/2:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

**EXERCISE 4.The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.**

**CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128**

In [ ]:
Paired two sample t-test, assumed significance level α = 0.05
Ho : µEnglish - µMath = 0
H1 : µEnglish - µMath != 0

In [23]:
dfscores=pd.read_csv("C:/Users/yucea/JUPYTER_NOTEBOOK_DIR/DATAs_csv/students_2014.csv", sep=',', na_values='.', index_col=0)

In [26]:
dfscores.head()

,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,Smoking,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
ids,,,,,,,,,,,,,,,,,,,,,
43783,3/22/1995,NaN,NaN,NaN,NaN,0.0,0,72.35,NaN,0.0,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
20278,1/1/1995,NaN,NaN,NaN,Philosophy,0.0,0,70.66,179.20,0.0,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
20389,12/31/1994,NaN,NaN,NaN,NaN,0.0,0,70.68,198.52,0.0,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
22820,12/1/1994,NaN,NaN,NaN,business administration,1.0,0,NaN,198.34,NaN,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
24559,11/10/1994,NaN,NaN,NaN,NaN,1.0,1,67.43,128.17,2.0,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0

In [24]:
dfscores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 43783 to 39298
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   bday          427 non-null    object
 1   enrolldate    406 non-null    object
 2   expgradate    406 non-null    object
 3   Rank          406 non-null    float64
 4   Major         276 non-null    object
 5   Gender        426 non-null    float64
 6   Athlete       435 non-null    int64
 7   Height        408 non-null    float64
 8   Weight        376 non-null    float64
 9   Smoking       411 non-null    float64
 10  Sprint        374 non-null    float64
 11  MileMinDur    392 non-null    object
 12  English       409 non-null    float64
 13  Reading       425 non-null    float64
 14  Math          422 non-null    float64
 15  Writing       404 non-null    float64
 16  State         408 non-null    object
 17  LiveOnCampus  414 non-null    float64
 18  HowCommute    247 non-null    float64
 19  CommuteTime   247 non-null    float64
 20  SleepTime     403 non-null    float64
 21  StudyTime     393 non-null    float64
dtypes: float64(15), int64(1), object(6)
memory usage: 78.2+ KB

In [29]:
dfEnglish_drop=dfscores.English.dropna()  
dfMath_drop=dfscores.Math.dropna()

In [30]:
dfEnglish_drop.isnull().value_counts()

False    409
Name: English, dtype: int64

In [31]:
dfMath_drop.isnull().value_counts()

False    422
Name: Math, dtype: int64

In [34]:
dfscores[["English", "Math"]].describe()

          English        Math
count  409.000000  422.000000
mean    82.787555   65.468009
std      6.839803    8.375930
min     59.830000   35.320000
25%     78.330000   60.202500
50%     83.150000   65.445000
75%     87.170000   70.567500
max    101.950000   93.780000

In [35]:
dfscores['English'].std()

6.839803158182041

In [151]:
dfscores['English'].var()

46.78290724267702

In [152]:
dfscores['Math'].std()

8.375929562049427

In [153]:
dfscores['Math'].var()

70.1561960284135

In [36]:
X1 =dfscores['English'].mean()
X1

82.78755501222493

In [37]:
X2 = dfscores['Math'].mean()
X2

65.46800947867297

In [38]:
difmean = X1 - X2
difmean

17.31954553355196

In [39]:
Ttest = stats.ttest_rel(dfscores["English"], dfscores["Math"], nan_policy='omit')
Ttest

Ttest_relResult(statistic=36.31256898171986, pvalue=3.071098719220689e-128)

In [40]:
pvalue = Ttest.pvalue
pvalue

3.071098719220689e-128

In [45]:
critical_alpha_value  = 0.025             # (α/2 = 0.025)

if pvalue < critical_alpha_value :        # if statistic > critical_tscore:           (36.312 >  Zα/2 = 1.965)
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

The English test scores avg. 17.31954553355196 points higher than the Math test scores.
Since the calculated p value is less than our chosen significance level of the critical alpha value we can reject the null hypothesis, and have statistically sufficient evidence to conclude that the means of the English and Math scores are significantly different.